@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300;400;500;700&display=swap');

button.slick-arrow.slick-next {
    right: 80px;
}

button.slick-arrow.slick-prev {
    left   : 20px;
    z-index: 10;
}


button.slick-arrow.slick-next::before {
    background-color: #f7bdbd;
    content         : '\276F';
    color           : gray;
    width           : 80px;
    height          : 80px;
    font-size       : 30px;
    display         : flex;
    justify-content : center;
    align-items     : center;
}


button.slick-arrow.slick-prev::before {
    content         : '\276E';
    color           : gray;
    background-color: #f7bdbd;
    width           : 80px;
    height          : 80px;
    font-size       : 30px;
    display         : flex;
    justify-content : center;
    align-items     : center;
}